@import "../../../node_modules/swiper/swiper.scss";
@import "../../../node_modules/swiper/swiper-bundle.min.css";

.slide-inner {
  span {
    position: absolute;
    z-index: -1;
  }
  .content {
    min-height: 350px;
    @extend .py-5, .text-light, .align-items-center, .text-start;
    z-index: 1;
    background: linear-gradient(90deg, black, rgba(0, 0, 0, 0));
  }

  .content-right {
    @extend .py-5, .text-light, .align-items-center, .text-end;
    z-index: 1;
    background: linear-gradient(270deg, black, rgba(0, 0, 0, 0));
  }
  .content-center {
    @extend .py-5, .text-light, .align-items-center, .text-center;
    z-index: 1;
    background: linear-gradient(0deg, black, rgba(0, 0, 0, 0));
  }
}
.swiper-button-prev {
  scale: 70%;
  width: 52px;
  height: 52px;
  @extend .bg-main, .rounded-circle;
  &:after {
    @extend .p-3, .text-light, .rounded-circle;
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-52%, -50%);
  }
}
.swiper-button-next {
  scale: 70%;
  width: 52px;
  height: 52px;
  @extend .bg-main, .rounded-circle;
  &:after {
    @extend .p-3, .text-light, .rounded-circle;
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-48%, -50%);
  }
}

@include media-breakpoint-up(lg) {
  .swiper-button-prev {
    scale: 100%;
  }
  .swiper-button-next {
    scale: 100%;
  }
}

.swiper-pagination-bullet {
  width: 25px;
  border-radius: 0;
  @extend .bg-main, .rounded;
}
.swiper-pagination-bullet-active {
  width: 25px;
  @extend .rounded;
}
